* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

header {
    text-align: center;
    padding: 18px 0;
    border-bottom: solid 1px #E5E5E5;
}

.container {
    padding: 0 10px;
}

.little-headings {
    font-family: 'Archivo Black', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}

.logo {
    /* border: solid 1px brown; */
    height: 26px;
}

#hero {
    padding: 30px 0 0 0;
}

#hero h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: 1.2em;
    margin: 0 0 20px 0;
    color: #fff;
}

.look-book {
    width: 100%;
    height: 564px;
    background-image: url('../assets/lookbook/2022-10-25\ 06.18.33.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.look-book a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: black;
    padding: 5px 10px;
    text-decoration: none;
    letter-spacing: 1.5px;
}


.look-book a:hover {
    text-decoration: underline;
}

#shop {
    padding: 40px 0 0 0;
}

.items {
    /* border: solid 1px pink; */
    display: flex;
    flex-wrap: wrap;
}

.items .item {
    width: 50%;
    /* margin: 0 5px; */
    margin-bottom: 20px;
}

.item-info {
    margin: 10px 5px 0;
}

.price {
    margin: 20px 5px 0  ;
}

.item-info, .price {
    font-size: 14px;
}

.item {
    cursor: pointer;
}

.item-1 {
    margin: 0 5px;
    height: 207px;
    background-image: url('../assets/shop-items/WhatsApp\ Image\ 2022-10-31\ at\ 10.15.14\ PM.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease-in-out;
}

.item-1:hover {
    background-image: url('../assets//lookbook/2022-10-25\ 06.18.23.jpg');
    background-size: contain;
}

.item-2 {
    margin: 0 5px;
    height: 207px;
    background-image: url('../assets/shop-items/item1-front.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease-in-out;
}

.item-2:hover {
    background-image: url('../assets/shop-items/item1-back.jpg');
}

.item-3 {
    margin: 0 5px;
    height: 207px;
    background-image: url('../assets/shop-items/item2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease-in-out;
}
.item-3:hover {
    background-image: url('../assets/shop-items/item2-back.jpg');
}

.item-4 {
    margin: 0 5px;
    height: 207px;
    background-image: url('../assets/shop-items/item3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease-in-out;
}
.item-4:hover {
    background-image: url('../assets/lookbook/2022-10-25\ 06.17.23.jpg');
    background-size: contain;
}

.item-5 {
    margin: 0 5px;
    height: 207px;
    background-image: url('../assets/shop-items/item4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease-in-out;
}
.item-5:hover {
    background-image: url('../assets/shop-items/item4-back.jpg');
}

.item-6 {
    margin: 0 5px;
    height: 207px;
    background-image: url('../assets/shop-items/item5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease-in-out;
}
.item-6:hover {
    background-image: url('../assets/shop-items/item5-back.jpg');
}

.item-7 {
    margin: 0 5px;
    height: 407px;
    background-image: url('../assets/lookbook/2022-10-25\ 06.18.38.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease-in-out;
}

.item-7:hover {
    background-image: url('../assets/lookbook/2022-10-25\ 06.18.29.jpg');
    background-size: contain;
}

.sizes {
    display: inline-flex;
    gap: 5px;
    margin: 10px 0 0 0;
}

.sizes .size {
    /* border: solid 1px rgb(139, 139, 139); */
    background-color: #eaeaea;
    padding: 5px;
    font-size: 11px;
}

#more-photos {
    margin: 40px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 20px;
}



.big {
    /* width: 100%; */
    height: 500px;
    background-image: url('../assets/shop-items/photo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.support1 {
    /* width: 50%; */
    height: 500px;
    background-image: url('../assets/lookbook/2022-10-31\ 11.36.40.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.support2 {
    /* width: 50%; */
    height: 500px;
    background-image: url('../assets/shop-items/2022-11-01\ 10.55.14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#documentary {
    padding: 40px 0 0 0;
}

video {
    width: 100%;
}

#lookbook {
    margin: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#lookbook img {
    height: 350px;
}

#about {
    margin: 60px 0 40px 0;
    padding: 0 30px;
}

#about p {
    max-width: 840px;
    margin: 0 auto;
    line-height: 140%;
}

#services {
    padding: 30px 30px;
}

ul li {
    list-style-type: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.4;
    padding: 16px 0;
    border-top: solid 1px #E5E5E5;
}

ul li:last-child {
    border-bottom: solid 1px #E5E5E5;
}

#shipping-details {
    padding: 30px 0 0 0;
}

.shipping {
    /* height: 60px; */
    background-color: rgb(28, 28, 28);
    padding: 40px;
}

.shipping-description {
    color: #fff;
}

.shipping-description a {
    color: #E5E5E5;
}

.shipping h3 {
    color: #fff;
}

footer {
    padding: 40px 30px;
    text-align: center;
}

.socials {
    margin: 0 0 20px 0;
}

footer p {
    font-size: 12px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}

.contact a {
    color: black;
   line-height: 1;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
        height: 483px;
        /* background-size: contain; */
    }

    #more-photos {
        grid-template-columns: 1fr 1fr;
    }

    .big {
        grid-column: 1 / 3;
     }
    
     .support1 {
         grid-column: 1 / 2;
     }
    
     .support2 {
         grid-column: 2 / 3;
     }
}

@media only screen and (min-width: 995px) {
    .items .item {
        width: 25%;
    }

    .item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
        height: 328px;
        background-size: contain;
    }

    .look-book {
        height: 650px;
        background-size: cover;       
    }
    
}